head
	title Edit Request
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
body
	form#form1.stdform(method='post', action='')
		.par.control-group
			label.control-label(for='title') Request Title
			.controls
				input#companyname.input-large(type='text', name='title', required, value='#{request.title}')
		.control-group
			label.control-label(for='location') Location
			.controls
				input#contractno.input-large(type='text', name='location', required, value='#{request.location}')
		p.stdformbutton
			button.btn.btn-primary Submit

