head
	title Req list
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	style
		body {padding-top:100px}
body
	table.table.table-hover.table-striped.table-bordered
		thead
			tr
				th Request Title
				th Location
				th
			tbody
				each request in requests
					tr
						td #{request.title}
						td  #{request.location}
						td
							a(href="/requests/edit/#{request._id}")
								span.view-details  Edit