head
	title Add response
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
body
	form#form1.stdform(method='post', action='')
		.par.control-group
			label.control-label(for='amount') Amount
			.controls
				input#companyname.input-large(type='text', name='amount', required)
		.control-group
			label.control-label(for='eta') ETA
			.controls
				input#contractno.input-large(type='date', name='eta', required)
		p.stdformbutton
			button.btn.btn-primary Submit
