//
	Created by Ashok on 4/30/2014.
head
	title Node Authentication
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	style
		body{padding-top:80px}
body
	.container
	.col-sm-6.col-sm-offset-3
		h1
			span.fa.fa-sign-in
			| Signup
		form(action='/register', method='post')
			.form-group
				label Email
				input.form-control(type='email', name='email')
			.form-group
				label Password
				input.form-control(type='password', name='password')
			.form-group
				label Role
				select.form-control(name = 'role')
					option(value='admin') Admin
					option(value='client') Client
					option(value='business') Business
			button.btn.btn-success.btn-lg(type='submit') Signup
		hr
		p
			| Already have an account?
			a(href='/login') Login
		p
			| Or go
			a(href='/') home
			| .

